<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wolliesx20200926165258.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5c4e8280-ce41-4fff-a455-bf35f7eb94dd/resourceGroups/auditech/providers/Microsoft.Web/sites/WolliesX20200926165258</ResourceId>
    <UserName>$WolliesX20200926165258</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://wolliesx20200926165258.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>